@font-face {
    font-family: 'SourceSansPro';
    src: local('./fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf'), url(fonts/Source_Sans_Pro/SourceSansPro-Regular.ttf) format('truetype');
}

body {
    margin: 0;
    font-family: SourceSansPro;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
